@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
